*{
    margin: 0;
    padding: 0;
    font-family: popi;
    box-sizing: border-box;
    
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: aliceblue;
}
header{
    background-color:rgb(242, 246, 255)
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85px;
    
}
hr{
    border: 0;
    background: #b6b6b6;
    height: 1px;
    margin: 0px;}
.logo{
    position: relative;
    left: -90px;
}

ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    list-style: none;
    margin: 0 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:larger;
}
.button-29 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #1455be 0, #263be0 100%);
    border: 0;
    border-radius: 7px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  .firstSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px;
    
    
}
.leftSection-d{

font-size: 16px;
width: 500px;

}
.leftSection h1{

    font-size: 45px;
    width: 500px;
    
    }
.secondSection{
    height: 210px;
    
    width: 100%;
    
    background-color: #1455be;
}
.secondSection img{
    height: 100px;
    width: 280px;
    position: relative;
    left: 80px;
    margin: 70px;
    align-items: center;
    justify-content: center;
    
}
.beforeSec3{
    color: #1455be;
    font-weight: 600;
    font-size: 28px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.beforeSec3-1{
    color: #000000;
   
    font-weight: 600;
    font-size: 28px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
}
.thirdSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 60px;
}
.leftsection-3 {
    width: 600px;


}
.leftsection-3 img {
    width: 560px;
    height: 350px;
    margin: 20px;
    align-items: center;
    justify-content: center;

}
.rightsection-3 {
    width:430px;
    height: 350px;
    margin: 20px;
    align-items: center;
    justify-content: center;

}
.rightsection-3 h3{
    color: #1455be;
    font-size: 26px;

}
.afterSec-3{
    
    text-align: center;
    
    font-size: 9px;
  
}
.fourthDiv{
    text-align: center;
}
.fourthDiv h3{
    color: #1455be;
    font-size: 26px;
}
.fourthDiv h2{
    color: #050505;
    font-size: 28px;
    margin: 30px;
    position: relative;
   left: 400px;
    width: 600px;
}
.fourthVid{
    margin: auto;
    width: 50%;
}
.fifthDiv{
    color: #1455be;
    font-size: 26px;
    text-align: center;
}
.sixth-borderbox{
    border: 3px solid rgb(218, 223, 233);
    border-radius: 20px;
    height:350px;
    margin:auto;
    width: 60%;
    padding: 50px;
}
.leftSection-6 p{
    width: 400px;
    font-size: large;
    
}
.rightSection-6 img{
    align-items: center;
    height: 300px;
    width: 290px;
    float: right;
    border-radius: 20px;
}
.fourthDiv{
    text-align: center;
}


.sixDiv h2{
    color: #050505;
    font-size: 28px;
    margin: 30px;
    text-align: center;
    
   
}
.storelogo{
    position: relative;
    left: 670px;
    
}
.seventhSection{
    height: 350px;
    
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #1455be;
}
form { 
    margin: 0 auto; 
    width:250px;
    }
input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 2px solid rgb(62, 107, 255);
        border-radius: 6px;
        box-sizing: border-box;
      }
      
input[type=submit] {
        width: 100%;
        background-color: #1455be;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        width:120px;
        position: relative;
        left: 70px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
input[type=submit]:hover {
        background-color: #002999;
      }
footer{
    margin-top:50px ;
    padding: 30px;
    height: 450px;
    background-color: #fff;
}
.footerLogo{
    position: relative;
    left: 70px;
    
}
.footerS{
    height: 350px;
}
.footerRight ul{
    display: flex;
    width: 60%;
    float: right;
    justify-content: space-evenly;
    list-style: none;
    margin: 20px 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:16px;
}
.footerEnd {
   display: flex;
   
   justify-content:flex-end;
}


